<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:p="http://www.springframework.org/schema/p"
       xmlns:c="http://www.springframework.org/schema/c"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xsi:schemaLocation="
        http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans-4.0.xsd 
        http://www.springframework.org/schema/context 
        http://www.springframework.org/schema/context/spring-context-4.0.xsd
        http://www.springframework.org/schema/mvc
        http://www.springframework.org/schema/mvc/spring-mvc-4.0.xsd
        http://www.springframework.org/schema/aop
        http://www.springframework.org/schema/aop/spring-aop-4.0.xsd
       ">
    <!--注解扫描-->
    <context:component-scan base-package="com.acn.controller"/>
    <aop:aspectj-autoproxy />

    <mvc:default-servlet-handler/>

    <mvc:interceptors>
        <mvc:interceptor>
            <mvc:mapping path="/user/**" />
            <mvc:mapping path="/search/**"/>
            <mvc:mapping path="/setting"/>
            <bean class="com.acn.controller.LoginInterceptor" />
        </mvc:interceptor>
    </mvc:interceptors>

    <!--注解驱动-->
    <mvc:annotation-driven>
        <!--@Responsebody乱码-->
        <mvc:message-converters register-defaults="true">
            <bean class="org.springframework.http.converter.StringHttpMessageConverter">
                <constructor-arg value="utf-8"/>
            </bean>
            <bean class="org.springframework.http.converter.json.MappingJackson2HttpMessageConverter">
                <property name="objectMapper">
                    <bean class="org.springframework.http.converter.json.Jackson2ObjectMapperFactoryBean">
                        <property name="failOnEmptyBeans" value="false"/>
                    </bean>
                </property>
            </bean>
        </mvc:message-converters>
    </mvc:annotation-driven>

    <!--资源过滤-->
    <mvc:resources location="/" mapping="/*.html"/>
    <mvc:resources location="/" mapping="/*.css"/>
    <mvc:resources location="/" mapping="/*.js"/>

    <!--视图解析器-->
    <bean class="org.springframework.web.servlet.view.InternalResourceViewResolver" id="internalResourceViewResolver"
          p:prefix="/WEB-INF/jsp/"
          p:suffix=".jsp"/>

    <!--日期转换-->
    <bean id="dateConvert" class="org.springframework.format.support.FormattingConversionServiceFactoryBean">
        <property name="converters">
            <list>
                <!-- 内部bean -->
                <bean class="com.acn.utils.DateConvert"/>
            </list>
        </property>
    </bean>


    <!--文件上传
        1.编码格式
        2.所有文件最大值20M【kb】
        3.单个文件最大值4M
    -->
    <bean class="org.springframework.web.multipart.commons.CommonsMultipartResolver" id="multipartResolver"
          p:defaultEncoding="utf-8"
          p:maxUploadSize="104857600"
          p:maxInMemorySize="4096"
    />
</beans>