<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.9//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.acn.dao.CommentMapper">

    <resultMap id="commentMap" type="com.acn.bean.view.Comment">
        <result property="id" column="id"/>
        <result property="commentText" column="comment_text"/>
        <result property="postId" column="postId"/>
        <result property="userId" column="userId"/>
        <result property="userAvatar" column="userAvatar"/>
        <result property="username" column="name"/>
        <result property="createtime" column="createtime"/>
    </resultMap>


    <insert id="addComment" parameterType="com.acn.bean.Comment">
        insert into comment (comment_text, postId, userId, createTime, flag)
        values (#{commentText}, #{postId}, #{userId}, #{createtime}, #{flag});
    </insert>

    <select id="selectAllComments" parameterType="int" resultMap="commentMap">
        select `comment`.id,
               `comment`.comment_text,
               `comment`.postId,
               user.avatar as userAvatar,
               user.`name`,
               `comment`.createTime
        from comment
                 LEFT JOIN user on `comment`.userId = `user`.id
        where comment.postId = #{id}
    </select>

    <select id="commentsCount" resultType="int">
        select count(*)
        from comment
    </select>

    <select id="commentsCountByPost" resultType="int">
        select count(*)
        from comment
        where postId = #{postId}
    </select>

    <select id="selectCommentsByPaging" resultMap="commentMap">
        select `comment`.id,
               `comment`.comment_text,
               `comment`.postId,
               user.id     as userId,
               user.avatar as userAvatar,
               user.`name`,
               `comment`.createTime
        from comment
                 LEFT JOIN user on `comment`.userId = `user`.id
        where comment.postId = #{id}
        limit #{page}, #{pageSize}
    </select>


    <select id="selectAllCommentsByUserId" resultType="com.acn.bean.view.UserComment">
        select comment.id,
               post_user.avatar AS userAvatar,
               post.title,
               comment.postId,
               comment.comment_text,
               comment.createTime
        from user
                 LEFT JOIN comment ON user.id = comment.userId
                 LEFT JOIN post ON comment.postId = post.id
                 LEFT JOIN user AS post_user ON post.userid = post_user.id
        WHERE user.id = #{userId}
          and post.flag != 0;
    </select>


    <update id="changeFlag">
        update comment
        set flag = 0
        where id = #{commentId}
          and postId = #{postId};
    </update>
</mapper>